Source: parse-android-dynparts
Section: misc
Priority: optional
Maintainer: Adam Boardman <adamboardman@gmail.com>
XSBC-Original-Maintainer: TheKit <thekit@disroot.org>
Build-Depends: cmake, debhelper (>= 9), libssl-dev
Standards-Version: 3.8.4

Package: parse-android-dynparts
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A tool to parse Android super partition layout
 parse-android-dynparts allows to mount super partition and image files with
 a standard Linux userspace. It uses a modified version of Google's AOSP
 code to parse the partition layout, then outputs that layout as a textual
 device specification that can be passed to dmsetup.
